(
    format: 1,
    arena: 0,
    difficulty: Normal,
    start: (33, 24),
    events: [
        (39, Move(-1, 0)),
        (48, Move(-1, 0)),
        (57, Move(-1, 0)),
        (66, Move(-1, 0)),
        (75, Move(-1, 0)),
        (83, Move(-1, 0)),
        (92, Move(-1, 0)),
        (101, Move(-1, 0)),
        (110, Move(-1, 0)),
        (118, Move(-1, 0)),
        (126, Move(-1, 0)),
        (135, Move(0, -1)),
        (145, Move(0, -1)),
        (155, Move(0, -1)),
        (163, Move(0, -1)),
        (172, Move(0, -1)),
        (182, Move(0, -1)),
        (190, Move(0, -1)),
        (199, Move(0, -1)),
        (208, Move(0, -1)),
        (219, Move(0, -1)),
        (228, Move(0, -1)),
        (235, Move(0, -1)),
        (244, Move(0, -1)),
        (255, Move(0, -1)),
        (262, Move(0, -1)),
        (275, Move(-1, 0)),
        (285, Move(-1, 0)),
        (296, Move(-1, 0)),
        (305, Move(-1, 0)),
        (316, Move(-1, 0)),
        (326, Move(-1, 0)),
        (335, Move(-1, 0)),
        (344, Move(-1, 0)),
        (353, Move(-1, 0)),
        (364, Move(0, 1)),
        (374, Move(0, 1)),
        (385, Move(0, 1)),
        (394, Move(0, 1)),
        (403, Move(0, 1)),
        (412, Move(0, 1)),
        (422, Move(0, 1)),
        (432, Move(0, 1)),
        (441, Move(0, 1)),
        (450, Move(0, 1)),
        (459, Move(0, 1)),
        (468, Move(0, 1)),
        (477, Move(0, 1)),
        (488, Move(0, 1)),
        (497, Move(0, 1)),
        (507, Move(0, 1)),
        (529, Move(1, 0)),
        (539, Move(1, 0)),
        (548, Move(1, 0)),
        (559, Move(1, 0)),
        (568, Move(1, 0)),
        (578, Move(1, 0)),
        (588, Move(1, 0)),
        (597, Move(1, 0)),
        (607, Move(1, 0)),
        (616, Move(1, 0)),
        (625, Move(1, 0)),
        (739, Ability(1)),
        (786, Move(0, -1)),
        (795, Move(0, -1)),
        (804, Move(0, -1)),
        (814, Move(0, -1)),
        (823, Move(0, -1)),
        (833, Move(0, -1)),
        (843, Move(0, -1)),
        (852, Move(0, -1)),
        (861, Move(0, -1)),
        (870, Move(0, -1)),
        (880, Move(0, -1)),
        (889, Move(0, -1)),
        (898, Move(0, -1)),
        (908, Move(0, -1)),
        (926, Ability(1)),
        (986, Move(1, 0)),
        (996, Move(1, 0)),
        (1007, Move(1, 0)),
        (1015, Move(1, 0)),
        (1026, Move(1, 0)),
        (1044, Move(1, 0)),
        (1054, Move(1, 0)),
        (1063, Move(1, 0)),
        (1073, Move(1, 0)),
        (1082, Move(1, 0)),
        (1091, Move(1, 0)),
        (1101, Move(1, 0)),
        (1109, Move(1, 0)),
        (1118, Move(1, 0)),
        (1127, Move(1, 0)),
        (1137, Move(1, 0)),
        (1147, Move(1, 0)),
        (1156, Move(1, 0)),
        (1166, Move(1, 0)),
        (1175, Move(1, 0)),
        (1198, Ability(1)),
        (1239, Move(1, 0)),
        (1248, Move(1, 0)),
        (1257, Move(1, 0)),
        (1268, Move(1, 0)),
        (1277, Move(1, 0)),
        (1286, Move(1, 0)),
        (1296, Move(1, 0)),
        (1305, Move(1, 0)),
        (1314, Move(1, 0)),
        (1323, Move(1, 0)),
        (1334, Move(1, 0)),
        (1343, Move(1, 0)),
        (1352, Move(1, 0)),
        (1362, Move(1, 0)),
        (1370, Move(1, 0)),
        (1381, Move(1, 0)),
        (1404, Ability(1)),
    ],
)